body{
    margin: 0;
}

.form-cadCliente{
    width: 800px;
    height: 700px;
}
 label{
     float: left;
 }
 
 #logreg-forms .social-btn:nth-child(1){
    margin-bottom: 5px;
}
#logreg-forms .social-btn span{
    display: none;
}

#logreg-forms  .social-btn{
    font-size: 1.3rem;
    font-weight: 100;
    color:white;
    width:200px;
    height: 56px;
    
}

#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}