main{
    margin: 0 auto;
    width: 980px;
    position: relative;
    }

    button.slick-prev{
        font-size: 0px;
        border: none;
        height: 51px;
        width: 25px;
        background-color: transparent;
        background-image: url(../img/anterior.png);
        position: absolute;
        z-index: 9;
        top: 35%;
        left: 16%;
        }
        
        button.slick-next{
        float: left;
        font-size: 0px;
        border: none;
        height: 51px;
        width: 25px;
        background-color: transparent;
        background-image: url(../img/proximo.png);
        position: absolute;
        z-index: 9;
        top: 35%;
        right: 17%;
        }
        